table.compactmenu tr.t td.l { background-image: url(classicbig/trl.png); background-position: bottom left; background-repeat: repeat-x; }
table.compactmenu tr.t td.c { background-image: url(classicbig/trrr.png); background-position: bottom left; background-repeat: repeat-x; }
table.compactmenu tr.t td.r { background-image: url(classicbig/trr.png); background-position: bottom right; background-repeat: repeat-x; }

table.compactmenu tr.m td.l { background-image: url(classicbig/l.png); }
table.compactmenu tr.m td.c { background-image: url(classicbig/c.png); }
table.compactmenu tr.m td.r { background-image: url(classicbig/r.png); }

table.compactmenu tr.b td.l { background-image: url(classicbig/brl.png); background-position: top left; background-repeat: repeat-x; }
table.compactmenu tr.b td.c { background-image: url(classicbig/brrr.png); background-position: top left; background-repeat: repeat-x; }
table.compactmenu tr.b td.r { background-image: url(classicbig/brr.png); background-position: top right; background-repeat: repeat-x; }

table.compactmenu tr.t td.c table tr.s td.onin   { background-image: url(classicbig/t1in.png); }
table.compactmenu tr.t td.c table tr.s td.on     { background-image: url(classicbig/t1.png); }
table.compactmenu tr.t td.c table tr.s td.onout  { background-image: url(classicbig/t1out.png); }

table.compactmenu tr.t td.c table tr.s td.offin  { background-image: url(classicbig/t0in.png); }
table.compactmenu tr.t td.c table tr.s td.off    { background-image: url(classicbig/t0.png); }
table.compactmenu tr.t td.c table tr.s td.offout { background-image: url(classicbig/t0out.png); }

table.compactmenu tr.t td.c table tr.r td.onin   { background-image: url(classicbig/tr1in.png); }
table.compactmenu tr.t td.c table tr.r td.on     { background-image: url(classicbig/tr1.png); }
table.compactmenu tr.t td.c table tr.r td.onout  { background-image: url(classicbig/tr1out.png); }

table.compactmenu tr.t td.c table tr.r td.offin  { background-image: url(classicbig/tr0in.png); }
table.compactmenu tr.t td.c table tr.r td.off    { background-image: url(classicbig/tr0.png); }
table.compactmenu tr.t td.c table tr.r td.offout { background-image: url(classicbig/tr0out.png); }

table.compactmenu tr.b td.c table tr.s td.onin   { background-image: url(classicbig/b1in.png); }
table.compactmenu tr.b td.c table tr.s td.on     { background-image: url(classicbig/b1.png); }
table.compactmenu tr.b td.c table tr.s td.onout  { background-image: url(classicbig/b1out.png); }

table.compactmenu tr.b td.c table tr.s td.offin  { background-image: url(classicbig/b0in.png); }
table.compactmenu tr.b td.c table tr.s td.off    { background-image: url(classicbig/b0.png); }
table.compactmenu tr.b td.c table tr.s td.offout { background-image: url(classicbig/b0out.png); }

table.compactmenu tr.b td.c table tr.r td.onin   { background-image: url(classicbig/br1in.png); }
table.compactmenu tr.b td.c table tr.r td.on     { background-image: url(classicbig/br1.png); }
table.compactmenu tr.b td.c table tr.r td.onout  { background-image: url(classicbig/br1out.png); }

table.compactmenu tr.b td.c table tr.r td.offin  { background-image: url(classicbig/br0in.png); }
table.compactmenu tr.b td.c table tr.r td.off    { background-image: url(classicbig/br0.png); }
table.compactmenu tr.b td.c table tr.r td.offout { background-image: url(classicbig/br0out.png); }

table.compactmenu tr.m td.c table td.onin   { background-image: url(classicbig/bullet.png); }
table.compactmenu tr.m td.c table td.offin  { background-image: url(classicbig/bullet.png); }

table.compactmenu tr.t td.c table td.off a         { color: #606060; }
table.compactmenu tr.b td.c table td.off a         { color: #606060; }
table.compactmenu tr.t td.c table td.off div       { color: #606060; }
table.compactmenu tr.b td.c table td.off div       { color: #606060; }

table.compactmenu tr.t td.c table td.on a          { color: #000000; }
table.compactmenu tr.t td.c table td.on div        { color: #000000; }
table.compactmenu tr.t td.c table td.off a:hover   { color: #000000; }
table.compactmenu tr.t td.c table td.off div:hover { color: #000000; }
table.compactmenu tr.m td.c table td a             { color: #000000; }
table.compactmenu tr.m td.c table td div           { color: #000000; }
table.compactmenu tr.b td.c table td.on a          { color: #000000; }
table.compactmenu tr.b td.c table td.off a:hover   { color: #000000; }
table.compactmenu tr.b td.c table td.on div        { color: #000000; }
table.compactmenu tr.b td.c table td.off div:hover { color: #000000; }