div.gaugeblock
{
	clear: both;
	height: 20px;
}
div.gaugelabel
{
	width: auto;
	float: left;
	text align: right;
	font-family: arial;
	font-size: 9px;
}
div.gauge
{
	display: none;
}
div.gaugeon
{
	float: left;
	display: block;
	background-color: #fafafa;
	border: 1px solid #666666;
	margin: 1px;
	margin-right: 6px;
	overflow: hidden;
	position:relative;
	line-height: 1px;
}
div.gaugeon span.gaugeondone
{
	position: absolute;
	top: 1px;
	left: 1px;
	display: block;
	float: left;
	background-color: #669066;
	border: 1px solid #669066;
	border-top: 1px solid #b0d0b0;
	border-bottom: 1px solid #000000;
	line-height: 1px;
}
div.gaugeon span.gaugeondonehot
{
	background-color: #ff6666;
	border: 1px solid #ff0000;
	border-top: 1px solid #ffb0b0;
}
div.gaugeonbusy
{
	background-color: #f9f0f0;
}