/* ***** TABS 2 ***** */
#mapbody {
  background:#fff;
  margin:0;
  padding:0;
  color:#000;
  font:x-small/1.5em Georgia,Serif;
  voice-family: "\"}\""; voice-family:inherit;
  font-size:small;
} html>body {font-size:small;}

#header {
  float:left;
  width:100%;
  background:#DAE0D2 url("gfx/tab/bg.png") repeat-x bottom;
  font-size:93%;
  line-height:normal;
}
#header ul {
  margin:0;
  padding:10px 10px 0;
  list-style:none;
}
#header li {
  float:left;
  background:url("gfx/tab/left.png") no-repeat left top;
  margin:0;
  padding:0 0 0 9px;
}
#header ul a {
  float:left;
  display:block;
  background:url("gfx/tab/right.png") no-repeat right top;
  padding:1px 8px 0px 0px;
  text-decoration:none;
  font-weight:bold;
  color:#765;
}
/* Commented Backslash Hack
   hides rule from IE5-Mac \*/
#header a {float:none;}
/* End IE5-Mac hack */
#header ul a:hover {
  color:#333;
}
#header #current {
  background-image:url("gfx/tab/left_on.png");
}
#header #current a {
  background-image:url("gfx/tab/right_on.png");
  color:#333;
  padding-bottom:1px;
}
#header #icons {
  margin-top:2px;
  margin-right:2px;
  float:right;
}
#header #icons span {
  margin-bottom:2px;
}
#map {
	float:left;
	margin-top:5px;
	margin-left:15px;
}

/* ***** TABS ***** */

.tabs {
	border-left    : 1px solid black;
}
.tabfillerright {
	border-bottom    : 1px solid black;
}

.tabpane {
	BACKGROUND-COLOR : #efd39c;
	border-right    : 1px solid black;
	border-bottom    : 1px solid black;
}

.tabs A {
	height:100%;
	float            : left;
	BACKGROUND-COLOR : #deb67b;
	font-size        : x-small;
	font-weight      : bold;
	text-decoration  : none;
	border-right    : 1px solid black;
	padding-left  : 5px;
	padding-right : 5px;
	padding-top   : 4px;
}
.inactivetab {
	border-top    	 : 1px solid black;
	border-bottom    : 1px solid black;
}
.activetab {
	border-top    	 : 1px solid black;
	border-bottom    : 1px solid #efd39c;
}

.tabs A:hover { BACKGROUND-COLOR : #FFFFFF; }
.tabs A:link, .tabs A:visited, .tabs A:active, .tabs A:hover { color: black; }
.activetab A {
	BACKGROUND-COLOR : #efd39c;
}
.tabpane > div {
	padding : 8px;
}


/* ***** MAP ***** */

.mapnav {
	border:1px solid black;
}

table.map { BACKGROUND-COLOR: #66AA55; table-layout:fixed; border:1px solid black; empty-cells:show;}
.map * {
	FONT-FAMILY: monospace;
	FONT-SIZE: 9pt;
	FONT-WEIGHT: normal;
}
.map th { 
	width:25px; height:25px; 
	background-position:2px 2px; background-repeat:no-repeat; 
	cursor:pointer;
	FONT-FAMILY: monospace;
	FONT-SIZE: 9pt;
	FONT-WEIGHT: normal;
}
.map td { width:25px; height:25px; background-position:1px 1px; background-repeat:no-repeat;}
.map div { width:100%; height:100%; background-position:1px 1px; background-repeat:no-repeat;}
.mapborder_n { background-image: url(gfx/scroll/n.png); clip:rect(0px, 0px, 0px, 0px); }
.mapborder_nw_edge { background-image: url(gfx/scroll/nw.png) }
.mapborder_ne_edge { background-image: url(gfx/scroll/ne.png) }
.mapborder_s { background-image: url(gfx/scroll/s.png) } 
.mapborder_sw_edge { background-image: url(gfx/scroll/sw.png) } 
.mapborder_se_edge { background-image: url(gfx/scroll/se.png) } 
.mapborder_w { background-image: url(gfx/scroll/w.png) } 
.mapborder_e { background-image: url(gfx/scroll/e.png) } 

/*
display:Wert;
Für Wert einen der folgenden Werte notieren.
block = Erzwingt einen Block - das Element erzeugt eine neue Zeile.
inline = Erzwingt die Anzeige im Text - das Element wird im laufenden Textfluss angezeigt.
list-item = wie block, jedoch mit einem Aufzählungszeichen (Bullet) davor.
marker = deklariert automatisch generierten Text für das Element.
run-in und compact = bewirken, dass das Element kontext-abhängig als Block-Element oder als Inline-Element dargestellt wird.
none = Element wird nicht angezeigt und es wird auch kein Platzhalter freigelassen.

visibility:hidden;
visibility:visible;
Für Wert einen der folgenden Werte notieren:
hidden = Der Inhalt des Element wird zunächst versteckt (nicht angezeigt).
visible = Der Inhalt des Element wird zunächst angezeigt (Normaleinstellung).

line-height:0pt; font-size:0pt; font-weight:0;
clip:rect(Wert1 Wert2 Wert3 Wert4);

cursor:Wert;
Zugeordnetes Element erhält beim Überfahren mit der Maus einen anderen Cursor. Für Wert einen der folgenden Werte notieren:
auto = automatischer Cursor (Normaleinstellung).
default = Plattformunabhängiger Standard-Cursor.
crosshair = Cursor in Form eines einfachen Fadenkreuzes.
pointer = Cursor in Form eines Zeigers.
move = Cursor in Form eines Kreuzes, das die Fähigkeit zum Bewegen des Elements signalisiert.
n-resize = Cursor in Form Pfeils, der nach oben zeigt (n = Norden).
ne-resize = Cursor in Form Pfeils, der nach rechts oben zeigt (ne = Nordost).
e-resize = Cursor in Form Pfeils, der nach rechts zeigt (e = Osten).
se-resize = Cursor in Form Pfeils, der nach rechts unten zeigt (se = Südost).
s-resize = Cursor in Form Pfeils, der nach unten zeigt (s = Süden).
sw-resize = Cursor in Form Pfeils, der nach links unten zeigt (sw = Südwest).
w-resize = Cursor in Form Pfeils, der nach links zeigt (w = Westen).
nw-resize = Cursor in Form Pfeils, der nach links oben zeigt (nw = Nordwest).
text = Cursor in einer Form, die normalen Text symbolisiert.
wait = Cursor in Form eines Symbols, das einen Wartezustand signalisiert.
help = Cursor in Form Symbols, das Hilfe zu dem Element signalisiert.
url([URI]) = Beliebiger Cursor, URI sollte eine GIF- oder JPG-Grafik sein.


.tabs A:link, 
.tabs A:visited,
.tabs A:active, 
.tabs A:hover
*/


/* ***** old stuff ***** */
/*
td {
	COLOR: #000000;
	FONT-FAMILY: monospace;
	FONT-SIZE: 9pt;
	FONT-WEIGHT: normal;
}

* FORM {
	margin-top:0px;
	margin-bottom:0px;
}

BODY {
	BACKGROUND-COLOR: #FFFFFF;
	COLOR: #000000;
	FONT-FAMILY: monospace;
	FONT-SIZE: 9pt;
	FONT-WEIGHT: normal;
}
* INPUT,TEXTAREA {
	BACKGROUND-COLOR: #EEEEEE;
	COLOR: #000000;
	FONT-FAMILY: monospace;
	FONT-SIZE: 9pt;
	FONT-WEIGHT: normal;
}
A {
	COLOR: #000000;
	FONT-FAMILY: monospace;
	FONT-SIZE: 9pt;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: none;
}
A:hover {
	COLOR: #00AA00; TEXT-DECORATION: underline
}
A:active {
	TEXT-DECORATION: none
}

.picframe {
	 border:1px solid black;
}

table info{
	border:0.5px solid grey;
}
table info th{
	text-align:center;
}
table info td{
	text-align:center;
}

hr {
	width:100%;
	height:1px;
	border:0px;
	border-top:solid black 1px;
	margin-top:4px;
	margin-bottom:6px;
}
*/



#summary {
	border:solid 1px black;
	border-collapse:collapse;
	text-align:left;
}

#summary td {
	padding-right:10px;
	padding-left:10px;
	}

#summary th {
	padding-right:10px;
	padding-left:10px;
	border-bottom:solid 1px black;
	}
	
#message {
	border-collapse:collapse;
	border:solid 1px black;
	width:100%;
}

#message th {
	text-align:left; 
	width:40px;
}

#messagetext {
	padding:5px;
	border:solid 1px black;
}




div#mainnaviborder {
	padding: 0.2em;
}

div#mainnaviborder div {
	clear: left;
}

ul#mainnavi {
	margin: 0; padding: 0;
	text-align: center;
}

ul#mainnavi li {
	list-style: none;
	float: left;  /* ohne width - nach CSS 2.1 erlaubt */
	position: relative;
	margin: 0.1em; padding: 0;
	}

ul#mainnavi li ul {
	margin: 0; padding: 0;
	position: absolute;
	top: 1.3em; left: -0.1em;
	display: none;  /* Untermainnavi ausblenden */
	background-color:white;
}

ul#mainnavi li:hover ul {
	display: block;  /* Untermainnavi in modernen Browsern einblenden */
}

ul#mainnavi li ul li {
	float: none;
	display: block;
	margin-bottom: 0.0em;
}

ul#mainnavi a, ul#mainnavi span {
	display: block;
	width: 6em;  /* Breite den in li enthaltenen Elementen zuweisen */
	text-decoration: none;
	border: 1px solid black;
	color: black; background-color: #eeeeee;
}

ul#mainnavi li ul span:hover, ul#mainnavi a:hover {
	background-color:#dddddd;
}

ul#mainnavi span#new, ul#mainnavi a#new {
	background-color:green;
	color:white;
}
