body {
	margin:0px;
	padding:0px;
}

/* ***** Menu ***** */

div.mainmenu {
	width:100%;
	height:65px;
}

div.mainmenu div.mainmenu_res {
	float:none;
	margin-top:2px;
}

div.mainmenu div.mainmenu_res li {
	float:left;
	margin-left:0px;
	width:140px;
}

div.mainmenu div.mainmenu_res li {
	font-size:10px;
	font-family:verdana;
}

div.mainmenu div.mainmenu_res li img {
	vertical-align:middle;
}

div.mainmenu div.mainmenu_icons {
	float:right;
	width:40px;
	border:solid #a0a0a0 1px;
	background-color:#EBEBEB;
	margin-right:5px;
	margin-left:5px;
	margin-top:2px;
}

div.mainmenu div.mainmenu_icons li {
	width:20px;
	height:20px;
	text-align:center;
	vertical-align:middle;
}

div.mainmenu div.mainmenu_icons li {
	float:left;
}

div.mainmenu div.mainmenu_links {
	float:right;
	width:210px;
	margin-top:2px;
}

div.mainmenu div.mainmenu_links li {
	border:solid #a0a0a0 1px;
	background-color:#EBEBEB;
	float:left;
	width:65px;
}

div.mainmenu div.mainmenu_links li a {
	margin:1px;
}

div.mainmenu div.mainmenu_links li.highlight {
	background-color:#8DD27C;
}

div.mainmenu li {
	margin:0px;
	padding:0px;
}

div.mainmenu ul {
  margin:0px;
  padding:0px;
  list-style:none;
}


/* ***** InfoReport ***** */

.tabheader .info_terrainpic { width:12px; height:12px; } 
.tabheader .info_buildingpic { width:12px; height:12px; } 
.tabheader .info_conpic { width:12px; height:12px; } 
.tabheader .info_planpic { width:12px; height:12px; } 
.info_terrainpic { border:1px solid black; }
.info_buildingpic { border:1px solid black; }
.info_conpic { border:1px solid black; }
.info_planpic { border:1px solid black; }

/* ***** Dynamic Tabs ***** */
.notizblock {
  width:90%;
}

.tabs { display:inline; }
.tabheader {
  float:left;
  width:100%;
  background:#DAE0D2 url("gfx/tab/bg.png") repeat-x bottom;
  font-size:93%;
  line-height:normal;
}
.tabheader ul {
  margin:0;
  padding:2px 2px 0;
  list-style:none;
}
.tabheader li {
  float:left;
  background:url("gfx/tab/left.png") no-repeat left top;
  margin:0;
  padding:0 0 0 3px;
}
.tabheader ul .tabhead {
  float:left;
  display:block;
  background:url("gfx/tab/right.png") no-repeat right top;
  padding:1px 3px 0px 0px;
  text-decoration:none;
  font-weight:bold;
  color:#765;
}

.tabheader ul .tabhead img {
	vertical-align:middle;
	margin-right:2px;
}

/* Commented Backslash Hack
   hides rule from IE5-Mac \*/
.tabheader .tabhead { float:none; cursor:pointer;}
/* End IE5-Mac hack */
.tabheader ul .tabhead:hover { color:#333; }

.tabheader .activetab			{ background-image:url("gfx/tab/left_on.png"); }
.tabheader .activetab .tabhead	{ background-image:url("gfx/tab/right_on.png"); color:#333; padding-bottom:1px; }
.tabheader	{ margin-top:2px; margin-right:2px; }
.tabcorner	{ margin-right:5px; float:right; }
.tabheader .tabcorner span		{ margin-bottom:2px; }
.tabpane { float:left; margin-top:5px; margin-left:5px; margin-bottom:5px; padding-top:5px; }
.tabsend {}

/* ***** MAP NAVI ***** */

.mapnavigoto FORM { margin-top:0px; margin-bottom:0px; }
.mapnavitools .tabhead { height:28px; }
.mapnavitools .tabhead img { border:0px solid black; margin:1px; margin-top:6px; }
.mapnavitools .tabpane img { border:1px solid #dddddd; margin:1px; vertical-align:top; }
.mapnavi_curtool img { border:0px solid black; }
.mapnavi_curtool * { vertical-align:middle; text-align:center; }
.mapnavitool_general {}
.mapnavitool_general textarea { background:#DDDDDD; }
.mapnavitool_buildings span { /* background:url("gfx/landschaft/grass.png"); border:3px solid black; */ }

.navtoolicon {}

/* ***** MAP ***** */

#mapbody {
  background:#fff;
  margin:0;
  padding:0;
  color:#000;
  font:x-small/1.5em Georgia,Serif;
  voice-family: "\"}\""; voice-family:inherit;
  font-size:small;
} html>body {font-size:small;}

.mapnav {
	border:1px solid black;
}

table.map { background-color: #66AA55; table-layout:fixed; border:1px solid black; empty-cells:show; }

.mapcell div { width:100%; height:100%; background-position:center; background-repeat:no-repeat; }
.mapcell > div { width:27px; height:27px;}
.mapborder * {
	FONT-FAMILY: monospace;
	FONT-SIZE: 9pt;
	FONT-WEIGHT: normal;
	text-decoration: none;
	overflow:hidden;
	cursor:pointer;
}
.mapborder div { background-position:center; background-repeat:no-repeat; }
.mapborder_nw_edge { width:23px; height:23px; }
.mapborder_se_edge { width:23px; height:23px; }
.mapborder_n { background-image: url(gfx/scroll/n.png); }
.mapborder_s { background-image: url(gfx/scroll/s.png); }
.mapborder_w { background-image: url(gfx/scroll/w.png); }
.mapborder_e { background-image: url(gfx/scroll/e.png); }
.mapborder_nw_edge { background-image: url(gfx/scroll/nw.png); }
.mapborder_ne_edge { background-image: url(gfx/scroll/ne.png); }
.mapborder_sw_edge { background-image: url(gfx/scroll/sw.png); }
.mapborder_se_edge { background-image: url(gfx/scroll/se.png); }
.mapborder_n span { visibility:hidden; }
.mapborder_s span { visibility:hidden; }
.mapborder_w span { visibility:hidden; }
.mapborder_e span { visibility:hidden; }
.mapborder_nw_edge span { visibility:hidden; }
.mapborder_ne_edge span { visibility:hidden; }
.mapborder_sw_edge span { visibility:hidden; }
.mapborder_se_edge span { visibility:hidden; }

.mapborder_n_big { background-image: url(gfx/scroll/n_big.png); }
.mapborder_s_big { background-image: url(gfx/scroll/s_big.png); }
.mapborder_w_big { background-image: url(gfx/scroll/w_big.png); }
.mapborder_e_big { background-image: url(gfx/scroll/e_big.png); }

.mapborder_n_small { background-image: url(gfx/scroll/n_small.png); }
.mapborder_s_small { background-image: url(gfx/scroll/s_small.png); }
.mapborder_w_small { background-image: url(gfx/scroll/w_small.png); }
.mapborder_e_small { background-image: url(gfx/scroll/e_small.png); }

.mapborder_n_big span { visibility:hidden; }
.mapborder_s_big span { visibility:hidden; }
.mapborder_w_big span { visibility:hidden; }
.mapborder_e_big span { visibility:hidden; }

.mapborder_n_small span { visibility:hidden; }
.mapborder_s_small span { visibility:hidden; }
.mapborder_w_small span { visibility:hidden; }
.mapborder_e_small span { visibility:hidden; }

.mapscroll input { 
	width:20px; 
	height:10px; 
	border:0px; 
	text-align:right;
}
.mapscroll a {
	color: black;
	font-family: monospace;
	font-size        : x-small;
	font-weight      : bold;
	text-decoration  : none;
}
.mapscroll a:hover { color:#00ff00; }

.maptip {
	background-color : #ffeeaa;
	border:1px solid black;
}
.maptip > table {
	padding:3px;
}
.maptip * {
	font-size        : x-small;
	font-weight      : bold;
	text-decoration  : none;
	font-family: verdana;
}
.maptip p { margin:1px; float:none; }
.maptip img { border:1px solid black; }
.maptip div { background-position:1px 1px; }
.maptippic { float:left; }
.maptip span { line-height:10pt; }


/* ***** general ***** */

BODY {
	BACKGROUND-COLOR: #FFFFFF;
	COLOR: #000000;
	FONT-FAMILY: monospace;
	FONT-SIZE: 9pt;
	FONT-WEIGHT: normal;
}

/* ***** old stuff ***** */
/*
td {
	COLOR: #000000;
	FONT-FAMILY: monospace;
	FONT-SIZE: 9pt;
	FONT-WEIGHT: normal;
}

* FORM {
	margin-top:0px;
	margin-bottom:0px;
}

BODY {
	BACKGROUND-COLOR: #FFFFFF;
	COLOR: #000000;
	FONT-FAMILY: monospace;
	FONT-SIZE: 9pt;
	FONT-WEIGHT: normal;
}
* INPUT,TEXTAREA {
	BACKGROUND-COLOR: #EEEEEE;
	COLOR: #000000;
	FONT-FAMILY: monospace;
	FONT-SIZE: 9pt;
	FONT-WEIGHT: normal;
}
A {
	COLOR: #000000;
	FONT-FAMILY: monospace;
	FONT-SIZE: 9pt;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: none;
}
A:hover {
	COLOR: #00AA00; TEXT-DECORATION: underline
}
A:active {
	TEXT-DECORATION: none
}

.picframe {
	 border:1px solid black;
}

table info{
	border:0.5px solid grey;
}
table info th{
	text-align:center;
}
table info td{
	text-align:center;
}

hr {
	width:100%;
	height:1px;
	border:0px;
	border-top:solid black 1px;
	margin-top:4px;
	margin-bottom:6px;
}
*/



#summary {
	border:solid 1px black;
	border-collapse:collapse;
	text-align:left;
}

#summary td {
	padding-right:10px;
	padding-left:10px;
	}

#summary th {
	padding-right:10px;
	padding-left:10px;
	border-bottom:solid 1px black;
	}
	
#message {
	border-collapse:collapse;
	border:solid 1px black;
	width:100%;
}

#message th {
	text-align:left; 
	width:40px;
}

#messagetext {
	padding:5px;
	border:solid 1px black;
}




div#mainnaviborder {
	padding: 0.2em;
}

div#mainnaviborder div {
	clear: left;
}

ul#mainnavi {
	margin: 0; padding: 0;
	text-align: center;
}

ul#mainnavi li {
	list-style: none;
	float: left;  /* ohne width - nach CSS 2.1 erlaubt */
	position: relative;
	margin: 0.1em; padding: 0;
	}

ul#mainnavi li ul {
	margin: 0; padding: 0;
	position: absolute;
	top: 1.3em; left: -0.1em;
	display: none;  /* Untermainnavi ausblenden */
	background-color:white;
}

ul#mainnavi li:hover ul {
	display: block;  /* Untermainnavi in modernen Browsern einblenden */
}

ul#mainnavi li ul li {
	float: none;
	display: block;
	margin-bottom: 0.0em;
}

ul#mainnavi a, ul#mainnavi span {
	display: block;
	width: 6em;  /* Breite den in li enthaltenen Elementen zuweisen */
	text-decoration: none;
	border: 1px solid black;
	color: black; background-color: #eeeeee;
}

ul#mainnavi li ul span:hover, ul#mainnavi a:hover {
	background-color:#dddddd;
}

ul#mainnavi span#new, ul#mainnavi a#new {
	background-color:green;
	color:white;
}
